# --- Python ---
__pycache__/
*.py[cod]
slurm*out
data/
bulou/
*.sh
*.h5
*.xyz
*.org
*~
tmp.*
model*
log*
recap*
best_model.keras
data2/
unet_atomod_trained_last.keras
.dimensions.dat
.feff.error
.ipynb_checkpoints/
.scfconvergence-feff
bulou
doc/
JFEFF/
Archive/
*.dat
*.png
*.inp
*.bin
fort.*